@import "reset.css";


/* header */

header {
    background: grey;
    padding: 0px;
    margin: 0px -1% 2%;
    color: white;
    position: fixed;
    display: block;
}

header:first-child {
    width: 100%;
    position: fixed;
    margin: 0% 0% 0%;
    background:#696969;
    padding: 10px 10% 1%;
    color: white;
}

header > img {
    padding: 0% 10px 0%;
}

nav {
    margin: 0% 20px 0%;
    padding: 25px 0% 0% 0px;
}

nav > a {
    padding: 0% 5% 0%;
    font-size: 20px;
}


a:link, a:visited {
    color:white;
    font-family: Calibri;
    text-decoration: none;
}

a:active, a:hover {
    color: cornflowerblue;
    font-family: Calibri;
}

/* body */

h2 {
    font-family: calibri;
    font-size: 25px;
    margin: 0% 50px 0px;
    padding-left: 450px;
}

body:great-grandchild {
    padding-top: 5%;
    padding-left: 8%;
}

main {
    margin: 100px 2% 1%;
    border: 0px 0px 0px;
    padding: 0% 0px 0px;
    font-family: Calibri;
}

main:nth-child(2), main:nth-child(3), main:nth-child(4) {
    margin: 0px 0% 0%;
    padding: 0% 50px 0%;
}

main > img:first-of-type {
    margin: 125px 0px 20px;
}

main > img:last-of-type {
margin-right: 25px;
}

#fillertext {
    background: #ffffff;
    overflow-y: auto;
    width: 350px;
    height: 300px;
    margin: 5px 500px 5%;
    padding: 0% 0px 0px;
}

button {
    margin: -50px 42px 0%;
    padding: .5% 2% .5%;
    width: 150px;
    color: white;
    background: black;

}

/* footer */

footer {
    background:#696969;
    margin: 2% 0% 0%;
    border: 0;
    padding: 5%;
}